body {
    background-color: rgb(150, 182, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.card {
    width: 250px;
    height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    width: 248px;
    height: 254px;
    border-radius: 15px;
}

.card p {
    color: #777;
}

